<mat-card>
    <mat-card-title>
        Appetizers
    </mat-card-title>
    <mat-card-content>
        <mat-checkbox
        color="warn">
            Wings
        </mat-checkbox><br>
        <mat-checkbox
        color="warn">
            Mozzarella Sticks
        </mat-checkbox><br>
        <mat-checkbox
        color="warn">
            Potato Skins
        </mat-checkbox><br>
        <mat-checkbox
        color="warn">
            Soup of the Day
        </mat-checkbox><br>
    </mat-card-content>