<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Click here for the quote of the day.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <blockquote color="primary">"I still own you."
      <br>- Aaron Rodgers</blockquote>
  </mat-expansion-panel>
</mat-accordion>
<h1>New quote of the day!</h1>
<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option
    value="I still own you!">
    Aaron Rodgers</mat-option>
    <mat-option
    value="I’m not superstitious, but I am a little ‘stitious.'">
    Michael Scott</mat-option>
    <mat-option
    value="If there’s one thing I hate, it’s losing. If there are two things I hate, then it’s losing and getting cancer.">
    Kenny Powers</mat-option>
  </mat-select>
</mat-form-field>

<p>Quote: {{ selected }}</p>
